<div class="ui middle aligned center aligned grid">
  <div class="column">
    <%= render "devise/shared/logo" %>
    <h2 class="ui image header">
      <div class="content">
        Forgot your password?
      </div>
    </h2>

    <% unless devise_error_messages!.blank? %>
			<div class="ui warning message">
			  <div class="header">
			    <%= devise_error_messages! %>
			  </div>
		  </div>
	  <% end %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui large form" }) do |f| %>
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, placeholder: "E-mail address" %>
          </div>
        </div>
        <%= f.submit "Send me reset password instructions", class: "ui fluid large blue submit button" %>
      </div>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

