<h1><%= @project.name %></h1>
      <%= form_for [@project, @ticket], html: {class: "ui form"} do |form| %>
        <div class="field">
          <label>Title *</label>
          <%= form.text_field :title, placeholder: "title" %>
        </div>

        <div class="field">
          <label>Description *</label>
          <%= form.cktext_area :description, placeholder: "description" %>
        </div>

        <div class="field">
          <label>Category *</label>
          <%= form.select :category, options_for_select(Ticket::CATEGORY), prompt: "Please Select Category" %>
        </div>

        <div class="field">
          <label>Priority *</label>
          <%= form.select :priority, options_for_select(Ticket::PRIORITY), prompt: "Please Select Priority" %>
        </div>

        <div class="field">
          <label>Assigned *</label>
          <%= form.select :recipient_id, options_for_select(@users.collect{|x| [x.username, x.id]}), prompt: "plese select user" %>
        </div>
      
        <h5>Goal *</h5>
        <div class="two fields">
          <div class="field">
            <label>Start date</label>
            <div class="ui calendar" id="rangestart">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <%= form.text_field :start_date, placeholder: "Start" %>
              </div>
            </div>
          </div>
          <div class="field">
            <label>End date</label>
            <div class="ui calendar" id="rangeend">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <%= form.text_field :end_date, placeholder: "End" %>
              </div>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Create"%>
          <%= link_to "Back", project_tickets_path, class: "button ui" %>
        </div>
      <% end %>
  	</div>