<div class="ui yellow message left dragable temp task-unit" id="ticket_<%= ticket.id %>">
  <!-- <a class="right remove" title="delete" id="testing"><i class="icon-remove"></i></a> -->
  <%= link_to project_ticket_path(14, ticket.id), remote: true, method: :delete, data: {confirm: "Are You Sure ?"}, class: "right remove" do %>
    <i class="close icon"></i>
  <% end %>
  <span><%= link_to "##{ticket.id}", "", class: "modal-show"  %></span>
  <div class="ful info">
  <br />
    <b><u><%= ticket.title %></u></b>
    <br />
    <%= ticket.description %>
  </div>
  <div class="ful action_bar">
    <i class="clock outline icon"></i><span><%= ticket.created_at.strftime('%d/%m/%y') %></i><span>&nbsp;</span></span>
    <br />
    <i class="pencil alternate icon"></i><span><%= ticket.maker %></span>
    <br />
    <i class="at icon"></i><span><%= ticket.receipt %></span>
    </i><span>&nbsp;</span></span>
    <!-- <a class="right edit" title="edit"><i class="icon-edit"></i></a> -->
  </div>
  <div class="progress"></div>
</div>