<table class="ui celled table">
  <thead>
    <tr>
      <th colspan="7">
        <%= form_tag user_profiles_path, method: "GET", remote: true do %>
          <div class="ui action input">
            <%= text_field_tag :search, "", placeholder: "Search..."%>
            <%= submit_tag "Search", class: "ui  blue button" %>
          </div>
        <% end %>
      </th>       
    </tr>
    <tr>
      <th>Username</th>
	    <th>Email</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Role</th>
      <th>Is Active ?</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <%= render 'list_user' %>
  </tbody>
  <tfoot>
    <%= render 'footer' %>
  </tfoot>
</table>