<div class="ui middle aligned center aligned grid">
<div class="column" style="padding: 20px; margin-left: 250px;">
  <% unless @user.avatar.blank?%>
    <%= image_tag @user.avatar.url(:thumb) %>
  <% else %>
    <%= image_tag("WGS", alt: "sj") %>
  <% end %>
  <div class="content">
    <div class="header"><h5><%= @user.username %> | <%= @user.email %></h5></div>
    <div class="meta">Last login : <%= time_ago_in_words(@user.last_sign_in_at) %></div>
    <div class="description">
      <p><%= @user.contact %></p>
      <p><%= @user.username %> is <%= @user.role.name %> and <%= @user.username %> lives in <%= @user.address %></p></p>
    </div>
  </div>
  Now <%= @user.username %> is holding project :
  <div class="ui relaxed divided list">
  <% @user.projects.each do |project| %>
  <div class="item">
    <i class="large code middle aligned icon"></i>
    <div class="content">
      <a class="header"><%= project.name %></a>
      <div class="description"><%= truncate(project.description, length: 25) %></div>
    </div>
  </div>
  <% end %>
  </div>
  <%= link_to "Change your profile", "",class: "ui positive button" %>
</div>
</div>