<table class="ui very basic table" style="padding: 20px;">
  <thead>
    <tr>
      <td><%= image_tag("#{@user.role.code.downcase}.jpg") %></td>
      <th colspan="2"><%= @user.username %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <th>Contact</th>
      <td><%= @user.contact %></td>
    </tr>
    <tr>
      <th>Role</th>
      <td><%= @user.role.name %></td>
    </tr>

    <% @user.projects.active.each_with_index do |project, index| %>
      <tr>
        <th><%= "Projects" if index == 0%></th>
        <td><%= project.name %> <i class="large green checkmark icon"></i></td>
      </tr>
    <% end %>
    <trs>
      <th></th>
      <td>
        <%= link_to "Change profile", edit_user_profile_path,class: "ui positive mini button" %>
      </td>
    </tr>
  </tbody>
</table>