<fieldset>
<div class="field">
  <label>Client Name</label>
  <%= client_form.text_field :name, placeholder: "Client Name" %>
</div>
<div class="field">
  <label>Contact</label>
  <%= client_form.text_field :contact, placeholder: "Contact" %>
</div>
 <div class="field">
  <label>Address</label>
  <%= client_form.text_area :address %>
</div>
<div class="field">
  <label>Contact</label>
  <%= client_form.text_field :latitude, placeholder: "latitude", readonly: true %>
</div>
<div class="field">
  <label>Contact</label>
  <%= client_form.text_field :longitude, placeholder: "longitude", readonly: true %>
</div>

<div id="map"></div>
<br />
<br />
<%= client_form.hidden_field :_destroy %>
<%= link_to nil, class: "remove_project" do %>
  <i class="icon remove right large"></i>
<% end %>
<br />
<br />
</fieldset>

<script>
    var map = new GMaps({
      el: '#map',
      lat: -2.756692,
      lng: 111.893504,
      zoom: 6
    });

    map.addMarker({
    	lat: -2.756692,
    	lng: 111.893504,
    	draggable: true,
    	dragend: function(event){
    		var lat = event.latLng.lat();
    		var lng = event.latLng.lng();
    		$("input[name='project[clients_attributes][0][latitude]']").val(lat);
    		$("input[name='project[clients_attributes][0][longitude]']").val(lng);
    		alert('Coordinate '+ lat + "-" + lng);
    	},
    	title: 'Marker #',
    	infoWindow: {
    		content: "test"
    	}
    });
</script>