<fieldset>
<div class="field">
  <label>Client Name</label>
  <%= client_form.text_field :name, placeholder: "Client Name" %>
</div>
<div class="field">
  <label>Contact</label>
  <%= client_form.text_field :contact, placeholder: "Contact" %>
</div>
 <div class="field">
  <label>Address</label>
  <%= client_form.text_area :address %>
</div>
<%= client_form.hidden_field :_destroy %>
<%= link_to nil, class: "remove_project" do %>
  <i class="icon remove right"></i>
<% end %>
<br />
<br />
</fieldset>