<fieldset>
  <div class="field">
    <label>Client Name</label>
    <%= client_form.text_field :name, placeholder: "Client Name" %>
  </div>
  <div class="field">
    <label>Contact</label>
    <%= client_form.text_field :contact, placeholder: "Contact" %>
  </div>
   <div class="field">
    <label>Address</label>
    <%= client_form.text_field :address, id: "geocomplete", placeholder: "Type in an address", value: "Jl. Soekarno Hatta, Cipadung Kidul, Babakan Ciparay, Bandung City, West Java, Indonesia" %>
  </div>
  <input id="find" type="button" value="find" class="ui orange button" />
  <div class="field">
    <label>Latitude</label>
    <%= client_form.text_field :latitude, name: "lat", placeholder: "latitude" %>
  </div>
  <div class="field">
    <label>Longitude</label>
    <%= client_form.text_field :longitude, name: "lng", placeholder: "longitude" %>
  </div>

  <div class="field">
    <label>Formatted Address</label>
    <input name="formatted_address" type="text" value="">
  </div>

  <div class="map_canvas" style="height: 500px; width: auto;"></div>
  <br />
  <br />
  <%= client_form.hidden_field :_destroy %>
  <%= link_to nil, class: "remove_project" do %>
    <i class="icon remove right large"></i>
  <% end %>
  <br />
  <br />
</fieldset>


 <script>
  $(function(){
    $("#geocomplete").geocomplete({
      map: ".map_canvas",
      details: "form ",
      markerOptions: {
        draggable: true
      }
    });
    
    $("#geocomplete").bind("geocode:dragged", function(event, latLng){
      $("input[name='project[clients_attributes][0][latitude]']").val(latLng.lat());
      $("input[name='project[clients_attributes][0][longitude]']").val(latLng.lng());
      $("#reset").show();
    });

    $("#geocomplete").bind("geocode:click", function(event, latLng){
      $("input[name='project[clients_attributes][0][latitude]']").val(latLng.lat());
      $("input[name='project[clients_attributes][0][longitude]']").val(latLng.lng());
      $("#reset").show();
    });
    
    
    $("#reset").click(function(){
      $("#geocomplete").geocomplete("resetMarker");
      $("#reset").hide();
      return false;
    });
    
    $("#find").click(function(){
      $("#geocomplete").trigger("geocode");
    }).click();
  });
</script>