<div class="tabs">
  <ul id="tabs-nav">
    <li><%= link_to "Project", project_path(@project.id) %></li>
    <li><%= link_to "Developers", project_developers_path(@project.id) %></li>
    <li><%= link_to "Client", project_client_path(@project.id) %></li>
    <li><%= link_to "Credential", project_credentials_path(@project.id) %></li>
    <li><%= link_to "Documents", project_documents_path(@project.id) %></li>
  </ul> <!-- END tabs-nav -->
  <div id="tabs-content">
    <div id="tab5" class="tab-content">
      <% if @message %>
        <p><%= @message %></p>
        <p>
          <%= link_to new_project_document_path(@project.id), class: "ui basic" do %>
          <i class="add square icon"></i>Add Document
          <% end %>
        </p>
      <% else %>
        <h2>List Documents</h2>
        <%= render 'documents/table_document', locals: @document %>
      <% end %>
    </div>
  </div> <!-- END tabs-content -->
</div> <!-- END tabs -->