<table class="ui selectable celled table">
  <thead>
    <tr>
      <th colspan="6">
        <%= form_tag projects_path, method: "GET", remote: true do %>
          <div class="ui action input">
            <%= text_field_tag :search, "", placeholder: "Search..."%>
            <%= submit_tag "Search", class: "ui  blue button" %>
          </div>
        <% end %>
      </th>       
    </tr>
    <tr>
      <th>No</th>
      <th>Project</th>
      <th>Description</th>
      <th>Is Active ?</th>
      <th>Client</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'list_project' %>
  </tbody>
  <tfoot class="full-width">
    <%= render 'footer' %> 
  </tfoot>
</table>