<div class="tabs">
  <ul id="tabs-nav">
    <li class="active"><%= link_to "Project", project_path(@project.id) %></li>
    <% if current_user.role.code.eql?("PM") %>
      <li><%= link_to "Developers", project_developers_path(@project.id) %></li>
    <% end %>
    <li><%= link_to "Client", project_client_path(@project.id) %></li>
    <li><%= link_to "Credential", project_credentials_path(@project.id) %></li>
    <li><%= link_to "Documents", project_documents_path(@project.id) %></li>
  </ul> <!-- END tabs-nav -->
  <div id="tabs-content">
    <div id="tab1" class="tab-content">
      <h2><%= @project.name %></h2>
      <p><%= raw(@project.description) %></p>
      <%= link_to "Back", projects_path, class: "ui button" %>
    </div>
    </div>
  </div> <!-- END tabs-content -->
</div> <!-- END tabs -->