<div class="tabs">
  <ul id="tabs-nav">
    <li><a href="#tab1">Project</a></li>
    <li><a href="#tab2">Client</a></li>
    <li><a href="#tab3">Credentials</a></li>
    <li><a href="#tab4">Documents</a></li>
  </ul> <!-- END tabs-nav -->
  <div id="tabs-content">
    <div id="tab1" class="tab-content">
      <h2><%= @project.name %></h2>
      <p><%= @project.description %></p>
    </div>
    <div id="tab2" class="tab-content">
      <h2><%= @project.clients.last.name %></h2>
      <p><%= @project.clients.last.contact %></p>
      <p><%= @project.clients.last.address %></p>
      <div id="map"></div>
    </div>
    <div id="tab3" class="tab-content">
      <h2>Randall Graves</h2>
      <p>"In light of this lurid tale, I don't even see how you can romanticize your relationship with Caitlin. She broke your heart and inadvertently drove men to deviant lifestyles."</p>
    </div>
    <div id="tab4" class="tab-content">
      <h2>Jay</h2>
      <p>"I don't care if she's my cousin or not, I'm gonna knock those boots again tonight."</p>
    </div>
  </div> <!-- END tabs-content -->
</div> <!-- END tabs -->

<script type="text/javascript">
  var map = new GMaps({
      el: '#map',
      lat: -2.756692,
      lng: 111.893504,
      zoom: 6
    });

    map.addMarker({
      lat: <%= @project.clients.last.latitude %>,
      lng: <%= @project.clients.last.longitude %>,
      title: 'Client'
    })
</script>