<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <div style="padding-top: 20px;">
           <h1><%= link_to "#{project.name}", project_path(project.id) %></h1>
         </div>
         <br />
         <button class="small positive ui button" id="addDefault">Add Header</button>
         <%= link_to "Add Ticket", new_project_ticket_path(project.id), class: "small orange ui button" %>
         <%= link_to "List Archive Ticket", list_archive_project_tickets_path(project.id), class: "small red ui button" %>
         <hr>
         <div id="myKanban"></div>
      </div>
   </div>
</div>

  <div class="ui mini modal" id="show_form_header">
    <i class="close icon"></i>
    <div class="header">Create Status Header</div>
    <div class="content">
      <%= render 'tickets/index/form_header', project: project %>
  </div>

  <%#= render 'tickets/index/show_ticket' %>
  <div id="modal"></div>

  <script type="text/javascript">
    //document.addEventListener('DOMContentLoaded', function () {
    //var headers = JSON.parse("<%= @headers.to_json %>".replace(/&quot;/g,'"'));
    //console.log(headers)
    var KanbanTest = new jKanban({
      element: '#myKanban',
      gutter: '10px',
      dragBoards: true,
      widthBoard: '250px',
      dropEl: function(el, target, source, sibling){
        $.ajax({
          url: "/projects/" + <%= project.id %> + "/tickets/change_status_ticket",
          method: "POST",
          data: {
            "id": $(el).attr("data-eid"),
            "header_id": $(target.parentElement).attr("data-id")
          }
        });
      },
      click: function (el) {
          $.ajax({
          url: "/projects/" + <%= project.id %> + "/tickets/" + $(el).attr("data-eid"),
          method: "GET",
          data: {
            "ticket_id": $(el).attr("data-eid")
            }
          })
      },
      buttonClick: function (el, boardId) {
        if (confirm("The header and the tickets will be removed all, Are you sure ?")) {
            var removeBoard = document.getElementById('removeBoard');
            KanbanTest.removeBoard(boardId);
            $.ajax({
              url: "/projects/" + <%= project.id %> + "/tickets/remove_header",
              method: "POST",
              data: {
                "header_id": boardId
                }
              })
        }
        },
      addItemButton: true,
      boards: 
        [
        <% headers.each_with_index do |header,index| %>
          {
                'id' : '<%= header.id %>',
                'title'  : "<%= header.status %>",
                'class' : '<%= header.color %>',
                'item'  : [
                  <% header.tickets.where(is_archive: nil).each_with_index do |ticket, index| %>
                    {
                       'id':'<%= ticket.id %>',
                        'title':'(#<%= ticket.id %>) <%= ticket.title %>',
                    <% if (index + 1 ) == header.tickets.count %>
                      }
                    <% else %>
                      },
                    <% end %>
                   <% end %>
                ]
            <% if (index + 1 ) == headers.count %>
              }
            <% else %>
              },
            <% end %>
          <% end %>
      ]
  });

    var addBoardDefault = document.getElementById('addDefault');
    addBoardDefault.addEventListener('click', function () {
      $("#show_form_header").modal("show");
    });

    var addBoardDefault = document.getElementById('addDefaultManual');
    addBoardDefault.addEventListener('click', function () {
        KanbanTest.addBoards(
            [{
                'id' : '_default',
                'title'  : 'Default (Can\'t drop in Done)',
                'dragTo':['_todo','_working'],
                'class' : 'error',
                'item'  : [
                    {
                        'title':'Default Item',
                    },
                    {
                        'title':'Default Item 2',
                    },
                    {
                        'title':'Default Item 3',
                    }
                ]
            }]
        )
    });

    var toDoButton = document.getElementById('addToDo');
    toDoButton.addEventListener('click', function () {
        KanbanTest.addElement(
            "_todo",
            {
                "title": "Test Add",
            }
        );
    });

    var removeElement = document.getElementById('removeElement');
    removeElement.addEventListener('click', function () {
        KanbanTest.removeElement('_test_delete');
    });

    var allEle = KanbanTest.getBoardElements('_todo');
    allEle.forEach(function (item, index) {
        //console.log(item);
    })
  //});
  </script>